.fruitsCard{
    max-width: 580px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border: var(--border-card);
    background-color: var(--bg-white);
    padding: var(--space-6);
    border-radius: var(--radius-xl);
}