.quantityBox{
  width: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantityFrame{
  width: auto;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: var(--bg-card);
  border-radius:var(--radius-round);
  padding: var(--space-1);
}

.quantityContent {
  width: auto;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items:center;
}

.circleButton {
  width: 24px;
  height: 24px;
  border-radius: var(--radius-round);
  color: var(--bg-white);
  background-color: var(--color-primary);
  font-family:'Helvetica';
  font-size: var(--font-md);
  font-weight:var(--fw-black); 
  transition: 0.3s ease
}

.quantityCounter{
  width: 76px;
  height:24px;
  font-size: var(--font-lg); 
  font-weight: var(--fw-black); 
  font-family:  var(--font-family);
  background-color: var(--bg-white);
  color: var(--text-primary);
  display: flex;
  justify-content: center;
  align-items:flex-end;
  border-radius: var(--radius-round);
  margin: var(--space-1);
}

.label{
  font-family: var(--font-family);
  font-size: var(--font-sm);
  font-weight: var(--fw-black);
  color: var(--color-primary);
}

.labelFalse{
  font-family: var(--font-family);
  font-size: var(--font-ms);
  font-weight: var(--fw-black);
  color: var(--bg-white);
}